.showstudentslive-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.showstudentsnumberCount{
    color: rgb(0, 61, 179);
    /* display: inline-flex; */
    display: flex;
    align-items: end;
    font-size: 30px;
}

.showstudentshare-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}