.iconsandTextStyle{
    display: inline-flex !important;
    vertical-align: middle !important;
    color:#003db3 !important;
}

.createCourseButton{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}