.header-top{
    background: #003db3;
    height: 40px;
}

.header-top ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-top ul li{
    display: inline-block;
    padding: 0px 10px;
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.header-top ul li a{
    font-size: 13px;
}

.header-left{
    text-align: right;
}

.header-left ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-left ul li{
    display: inline-block;
    padding: 0px 14px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
}

.header-left ul li a{
    font-size: 13px;
}


@media only screen and (max-width: 600px) {
    .all {
     display: none;
    }
  }