.card{
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    display: flex; 
    justify-content: center;
     align-items: center; 
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

.rec.rec-arrow {
    border-radius: 50%;
    font-size: 10px;
    background-color: #003db3;
    color: #fff;
    
}

.rec.rec-arrow:hover{
    background-color: #003db3 !important;
}


.testimonialtextstyle{
    white-space: nowrap; 
 
    overflow: hidden;
    text-overflow: ellipsis; 


    display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.verticalmiddlediv{
    
   
    display: flex;

  align-items: center;
  height: 200px;
    width: 100%;
   
}

.brandslidertitle{
    padding-left: 24px;
}


.institutecardstyle:hover{
    /* box-shadow: 0 6px 22px -5px rgb(0 0 0 / 10%), 0 0 6px -1px rgb(0 0 0 / 10%) !important; */
    
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    
  cursor: pointer !important;
}
